<% time = Time.now.getutc %>
<p>Date: <%= time.to_s[0..10] %></p>
<table class="table">
<thead>
    <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Recipient name</th>
        <th scope="col">Order Date</th>
        <th scope="col">Gift Card Value</th>
        <th scope="col">Commission</th>
        <th scope="col">Delivery Status</th>
        <th scope="col">Action</th>
    </tr>
</thead>
<tbody>
    <% @adminorders.each do |t|%>
    <tr>
        <th scope="row"><%= t.id %></th>
        <td><%= t.rfname %></td>
        <td><%= t.created_at.to_s[0..10] %></td>
        <td><%= t.gcvalue %></td>
        <td><%= t.apayable %></td>
        <td><%= t.delivery_status %></td>
        <td><%= button_to "Mark as delivered", edit_adminorder_url(t.id), params: { aid: t.id  }, :class=>"btn btn-primary" %></td> 
    </tr>
    <% end %>
</tbody>
</table>