<h1>signup</h1>
<div class="container-fluid col-6 mt-lg-4">
    <%= form_for :user, url: '/users' do |f| %>
        <div class="col-auto">
            <%= f.label :name, :class=>"form-label" %>
            <%= f.text_field :name, :class=>"form-control" %>
        </div>
        <div class="col-auto">
            <%= f.label :email, :class=>"form-label" %>
            <%= f.text_field :email, :class=>"form-control" %>
        </div>
        <div class="col-auto">
            <%= f.label :password, :class=>"form-label" %> 
            <%= f.password_field :password, :class=>"form-control" %>
        </div>
        <div class="col-auto">
            <%= f.label :password_confirmation, :class=>"form-label" %>
            <%= f.password_field :password_confirmation, :class=>"form-control" %>
        </div>
        <div class="col-auto mt-lg-4">
        <%= f.submit "Sign up", :class=>"btn btn-primary mb-3" %>
        </div>

    <% end %>
</div>
